.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

:root {
  --grey: #f5f4fa;
  --black: #2f303a;
  --text-grey: #757575;
  --text-black: #212121;
  --blue: #2196f3;
  --white: #ffffff;
  --soc-grey: #afb1b8;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sec4__h2 {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.03em;
  color: var(--text-black);
  margin-bottom: 30px;
  line-height: 1.17;
  background-color: #f5f4fa;
  text-align: center;
}

.sec4__list {
  background-color: #f5f4fa;
  display: block;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.sec4__list--li {
  background-color: var(--white);
  width: 450px;
}

.sec4__ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 32px;
  margin-top: 16px;
  list-style: none;
  gap: 10px;
}
.sec4__ul--li {
  width: 44px;
  height: 44px;
}
.sec4__ul--figcaption {
  padding: 30px 0px;
}
.sec4__ul--figure {
  margin-bottom: 20px;
  position: relative;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  text-align: center;
  margin-left: 0px;
  width: 450px;
  height: 600px;
}
.sec4__ul--svg {
  margin: 12px 0px 0px 12px;
  width: 20px;
  height: 20px;
}
.sec4__ul--a {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white);
  fill: #AFB1B8;
  color: #afb1b8;
}
.sec4__ul--a:hover {
  background-color: var(--blue);
  fill: var(--white);
  transition: var(--transition);
}
.sec4__ul--a:focus {
  background-color: var(--blue);
  fill: var(--white);
  transition: var(--transition);
}

.sec4__h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.sec4__p {
  color: var(--text-grey);
  font-size: 16px;
  font-weight: normal;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .sec4__list {
    display: inline-block;
    justify-content: space-between;
  }
  .sec4__list--li {
    width: 354px;
  }
  .sec4__ul {
    justify-content: space-between;
  }
  .sec4__ul--a {
    display: inline-block;
    justify-content: space-between;
  }
  .sec4__ul--figure {
    display: inline-block;
    width: 354px;
    height: 536px;
  }
  .sec4__ul--svg {
    width: 15px;
    height: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .sec4_h2 {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.6;
  }
  .sec4__list {
    display: flex;
  }
  .sec4__list--li {
    width: 270px;
  }
  .sec4__ul--a {
    display: flex;
  }
  .sec4__ul--figcaption {
    position: absolute;
  }
  .sec4__ul--figure {
    display: flex;
    width: 100%;
    height: 428px;
  }
  .sec4__ul--svg {
    width: 10px;
    height: 10px;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4em;
  vertical-align: baseline;
  text-decoration: none;
  outline: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

body {
  background-color: var(--white);
  display: block;
  color: var(--text-black);
  font-family: "Roboto", "Raleway", sans-serif;
  margin: 0 auto;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

figcaption {
  padding-top: 20px;
  padding-bottom: 20px;
}

img {
  display: block;
  width: 100%;
  height: auto;
  flex-direction: column;
}

input {
  line-height: 1.15;
  margin: 0;
  font-size: 100%;
  font-family: inherit;
}

footer {
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  img {
    min-width: 64%;
    block-size: auto;
    flex-basis: auto;
  }
}
@media screen and (min-width: 1200px) {
  img {
    min-width: 100%;
    flex-basis: auto;
    block-size: auto;
  }
}
.sec1 {
  background-color: rgb(47, 48, 58);
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bgImgMob1x.png");
  background-size: cover;
  background-position: center top;
  background-size: 480px 796px;
  padding-top: 100px;
  padding-bottom: 0px;
}
.sec1__but {
  display: inline-block;
  min-width: 150px;
  margin-bottom: 60px;
  color: var(--white);
  background: var(--blue);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  border: 1px solid transparent;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  align-items: center;
  visibility: visible;
}
.sec1__but:hover {
  border-radius: 4px;
  transition: var(--transition);
  background-color: var(--grey);
  color: #212121;
  box-shadow: 0px 4px 4px rgba(123, 123, 123, 0.15);
}
.sec1__but:focus {
  border-radius: 4px;
  transition: var(--transition);
  background-color: var(--grey);
  color: #212121;
  box-shadow: 0px 4px 4px rgba(123, 123, 123, 0.15);
}
.sec1__title {
  padding: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  align-items: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900px;
  font-style: normal;
  font-weight: bold;
  padding-top: 118px;
  padding-bottom: 30px;
  line-height: 1.167;
  letter-spacing: 0.06em;
  margin: 0 auto;
  max-width: 250px;
}
.sec1__main-container {
  width: 480px;
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  text-transform: uppercase;
  line-height: 1.4;
  text-align: center;
  max-width: 700px;
  letter-spacing: 0.06em;
  justify-content: space-between;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .sec1 .sec1 {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bgImgMob2x.png");
  }
}

@media screen and (min-width: 768px) {
  .sec1 {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bgImgTab1x.png");
    background-size: 768px 400px;
    background-repeat: no-repeat;
    background-position: center top;
    height: 400px;
  }
  .sec1__title {
    max-width: 350px;
    font-size: 24px;
    padding-top: 118px;
    padding-bottom: 40px;
  }
  .sec1__main-container {
    width: 768px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .sec1 {
    display: flex;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bgImgTab2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .sec1 {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bgImgDsc1x.jpg");
    background-size: 1600px 600px;
    background-repeat: no-repeat;
    background-position: center top;
    height: 600px;
    max-width: 1600px;
    flex-grow: 1;
  }
  .sec1__title {
    max-width: 700px;
    font-size: 48px;
    line-height: 1.36;
    margin-left: auto;
    margin-right: auto;
  }
  .sec1__main-container {
    width: 1200px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .sec1 {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bgImgDsc2x.jpg");
  }
}
.port1__ul {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-bottom: 40px;
  gap: 8px;
}
.port1__ul--button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--grey);
  border-radius: 4px;
  color: var(--text-black);
  border: 0px solid transparent;
  display: inline-block;
  text-align: center;
  padding: 6px 22px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  min-width: 73px;
  cursor: pointer;
  text-transform: none;
}
.port1__ul--button:focus, .port1__ul--buttonhover {
  background-color: var(--blue);
  color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: var(--transition);
}

@media screen and (min-width: 768px) {
  .port1__ul {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .port1__ul {
    margin-bottom: 50px;
  }
}
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding: 0 10px;
  transition-property: background-color;
  transition-duration: 250ms;
}
.container--header-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 767px) {
  .container--header-mobile {
    max-width: 767px;
  }
}

@media screen and (min-width: 480px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 39px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .mob-menu {
    display: none;
  }
  .mob-menu__icon {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0 15px;
  }
  .footer__container {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .mob-menu {
    display: none;
  }
  .mob-menu__icon {
    display: none;
  }
}
.sec5 {
  padding-top: 60px;
  margin-top: 10px;
}
.sec5 .sec5-clients {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: var(--text-black);
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
.sec5 .sec5-clients__list {
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.sec5__ul--a {
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  fill: #AFB1B8;
  box-sizing: border-box;
  justify-content: center;
  background-color: var(--white);
  align-items: center;
  padding: 16px 32px;
}
.sec5__ul--a:focus {
  border: 1px solid var(--blue);
  fill: var(--blue);
  color: var(--blue);
  transition: var(--transition);
}
.sec5__ul--a:hover {
  border: 1px solid var(--blue);
  fill: var(--blue);
  color: var(--blue);
  transition: var(--transition);
}
.sec5__li {
  height: 90px;
  transition: var(--transition);
  width: 210px;
}
.sec5__li:focus, .sec5__li:hover {
  color: var(--blue);
  border-color: var(--blue);
}
.sec5__li--svg {
  fill: var(--white);
  width: 106px;
  height: 60px;
}

@media screen and (min-width: 768px) {
  .sec5-clients__list {
    display: inline-block;
  }
  .sec5__li {
    width: 226px;
  }
  .sec5__ul--a {
    width: 226px;
    display: inline-block;
  }
}
@media screen and (min-width: 1200px) {
  .sec5-clients {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
  .sec5-clients__list {
    display: flex;
  }
  .sec5__li {
    width: 170px;
  }
  .sec5__ul--a {
    width: 170px;
    display: flex;
  }
}
.footer {
  text-align: center;
  padding: 60px 0px;
  background-color: var(--black);
}
.footer__container {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding-top: 60px;
  justify-content: space-between;
}
.footer__main {
  display: block;
  margin: 0;
  padding: 0px;
  list-style: none;
}
.footer__web {
  color: var(--blue);
}
.footer__stat {
  color: var(--white);
}
.footer__end {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #ffffff;
  line-height: 1.4;
  text-decoration-line: none;
}
.footer__address {
  margin-top: 20px;
  color: var(--white);
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.03em;
  list-style-type: none;
  gap: 30px;
}
.footer__address--p {
  padding-top: 9px;
}
.footer__ul {
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 10px;
  transition-property: fill, background-color;
  transition: var(--transition);
}
.footer__li {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 44px;
  height: 44px;
  gap: 10px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--white);
}
.footer__li:focus-within {
  background-color: var(--blue);
  transition: var(--transition);
}
.footer__li:hover {
  background-color: var(--blue);
  transition: var(--transition);
}
.footer__li--a {
  width: 44px;
  height: 44px;
  align-items: center;
  padding-left: 12px;
  border-radius: 50%;
  fill: var(--white);
}
.footer__li--a:hover {
  color: var(--white);
  transition: var(--transition);
}
.footer__li--a:focus {
  color: var(--white);
  transition: var(--transition);
}
.footer__li--svg {
  width: 20px;
  height: 20px;
  margin: 12px 0px 0px 12px;
  align-items: center;
  fill: var(--white);
}
.footer__li--svg:hover {
  background-color: var(--blue);
  transition: var(--transition);
}
.footer__li--svg:focus {
  background-color: var(--blue);
  transition: var(--transition);
}
.footer__social {
  display: block;
  margin-top: 60px;
  text-align: center;
}
.footer__h2 {
  padding: 15px 20px 10px 0px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  font-family: "Roboto";
  letter-spacing: 0.03em;
  color: var(--white);
}
.footer__send {
  margin-top: 60px;
}
.footer__send--p {
  padding-top: 15px;
  padding-bottom: 10px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white);
}
.footer__send--newsletter {
  height: 50px;
  justify-content: center;
  align-items: center;
}
.footer__input {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--black);
  padding: 13px 16px;
  color: var(--white);
}
.footer__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input:hover {
  border: 1px solid var(--blue);
  border-radius: 4px;
  outline: none;
  transition: var(--transition);
  background-color: var(--black);
}
.footer__input:focus {
  border: 1px solid var(--blue);
  border-radius: 4px;
  outline: none;
  transition: var(--transition);
  background-color: var(--black);
}
.footer__label--email {
  margin-bottom: 20px;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.03em;
  padding-right: 12px;
}
.footer__button {
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  padding: 8px 30px;
  background: var(--blue);
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white);
  border: none;
  cursor: pointer;
  min-height: 40px;
}
.footer__button:hover {
  box-shadow: 0px 4px 4px var(--blue);
}
.footer__button:focus {
  box-shadow: 0px 4px 4px var(--blue);
}
.footer__button::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 20px;
  margin-left: 10px;
}
.footer__button--svg {
  width: 24px;
  height: 24px;
  margin-left: 25px;
}
.footer__button--svg:hover {
  color: var(--text-black);
  fill: var(--text-black);
  transition: var(--transition);
}
.footer__button--svg:focus {
  color: var(--text-black);
  fill: var(--text-black);
  transition: var(--transition);
}
.footer__mail, .footer__tel {
  font-style: normal;
  font-size: 14px;
  text-decoration-line: none;
  color: rgba(255, 255, 255, 0.6);
  opacity: 40%;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer__mail:hover, .footer__tel:hover {
  text-decoration: underline;
  color: var(--blue);
  border-radius: 4px;
  transition: var(--transition);
}
.footer__mail:focus, .footer__tel:focus {
  text-decoration: underline;
  color: var(--blue);
  border-radius: 4px;
  transition: var(--transition);
}
.footer__adress {
  color: var(--white);
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.03em;
  font-weight: 400;
  list-style-type: none;
  margin-bottom: 9px;
  flex-direction: column;
  align-items: center;
}
.footer__adress--margin-bottom:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    width: 768px;
    display: inline-block;
  }
  .footer__main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 165px;
  }
  .footer__address {
    flex-basis: 50%;
  }
  .footer__h2 {
    padding-bottom: 10px;
  }
  .footer__social {
    margin-top: 0px;
  }
  .footer__send {
    margin-top: 0px;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    display: flex;
  }
  .footer__container {
    width: 1200px;
    display: flex;
  }
  .footer__main {
    text-align: left;
    gap: 70px;
  }
  .footer__address {
    flex-basis: auto;
    align-items: flex-start;
    display: flex;
  }
  .footer__h2 {
    text-align: left;
  }
  .footer__button {
    margin-top: 20px;
    display: flex;
  }
  .footer__text {
    line-height: 2;
    text-align: left;
  }
  .footer__ul {
    display: flex;
    justify-content: space-between;
  }
  .footer__send {
    margin-left: 25px;
  }
  .footer__input {
    width: 400px;
    margin-right: 12px;
  }
  .footer__send--newsletter {
    display: flex;
  }
}
.backdrop {
  opacity: 100%;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.2);
  animation-name: scaling;
  animation-duration: 2000ms;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: normal;
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 100%;
}
.modal__button {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--white);
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
  opacity: 100%;
  z-index: 1000;
}
.modal__button:hover {
  color: var(--blue);
  border-color: var(--blue);
  cursor: pointer;
  transition: var(--transition);
}
.modal__button:focus {
  color: var(--blue);
  border-color: var(--blue);
  cursor: pointer;
  transition: var(--transition);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.close-btn {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--white);
  border-radius: 50%;
  border: 1px solid rgb(0, 0, 0);
  opacity: 100%;
  z-index: 1000;
}
.close-btn:hover, .close-btnfocus {
  cursor: pointer;
}

.form {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}
.form__h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
  margin-bottom: 12px;
}
.form__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: none;
}
.form__label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-grey);
  margin-block: 4px 10px;
}
.form__label:focus-within > svg {
  color: var(--blue);
  fill: var(--blue);
  transition: var(--transition);
}
.form__label:first-of-type {
  margin-top: 0;
}
.form__label--input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
  margin-top: 4px;
  text-indent: 42px;
  color: var(--text-grey);
  font-size: 12px;
  display: block;
  background-repeat: no-repeat;
  background-position: left 15px center;
  transition: background-image var(--transition);
}
.form__label--input:focus + svg {
  fill: var(--blue);
}
.form__label--input:focus {
  border: 1px solid var(--blue);
  border-radius: 4px;
  outline: none;
  transition: var(--transition);
}
.form__label--input:hover {
  border: 1px solid var(--blue);
  border-radius: 4px;
  outline: none;
  transition: var(--transition);
}
.form__label--textarea {
  width: 448px;
  height: 120px;
  font-size: 12px;
  padding: 12px 16px;
  letter-spacing: 0.01em;
  color: var(--text-grey);
  opacity: 50%;
  margin-top: 4px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form__label--textarea:focus {
  border: 1px solid var(--blue);
  border-radius: 4px;
  outline: none;
  transition: var(--transition);
}
.form__label--textarea:hover {
  border: 1px solid var(--blue);
  border-radius: 4px;
  outline: none;
  transition: var(--transition);
}
.form__label--textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.form__checkbox {
  display: flex;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}
.form__span {
  display: flex;
  align-items: center;
  margin-top: 1px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-grey);
  margin-left: 8px;
  transition: var(--transition);
}
.form__span::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  outline: 1px solid #212121;
  border-radius: 2px;
  margin-right: 9px;
  transition: var(--transition);
}
.form__span--a {
  padding-left: 3px;
  padding-right: 3px;
  text-decoration: none;
  color: var(--blue);
  transition: var(--transition);
  transition-property: text-decoration, color;
  letter-spacing: 0.06em;
}
.form__span--a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--blue);
  transition: var(--transition);
}
.form__checkbox--input:checked + .form__span::before {
  background-color: var(--blue);
  outline: 1px solid var(--blue);
  border-radius: 2px;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-right: 8px;
}
.form__button {
  background: var(--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #fff;
  margin-top: 30px;
  border: 0px;
  cursor: pointer;
}
.form__button:hover {
  background-color: var(--grey);
  color: var(--text-black);
  transition: var(--transition);
}
.form__button:focus {
  background-color: var(--grey);
  color: var(--text-black);
  transition: var(--transition);
}
.form__button--span {
  padding: 10px 70px;
  letter-spacing: 0.06em;
  line-height: 1.88;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    min-height: 609px;
  }
  .form {
    width: 450px;
  }
  .form__checkbox {
    font-size: 10px;
    line-height: 1.11;
  }
  .form__span--a {
    position: absolute;
    top: 18px;
    left: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 530px;
    min-height: 581px;
  }
  .form {
    width: 530px;
  }
  .form__checkbox {
    padding-left: 14px;
    font-size: 14px;
    line-height: 1.71;
  }
}
.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
  width: 100%;
  height: 60px;
}
@media screen and (max-width: 767px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
.header__web, .header__stat {
  font-family: "Raleway", "sans-serif";
  font-weight: 700;
  font-size: 26px;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 90px;
}
.header__web {
  color: var(--blue);
}
.header__stat {
  color: var(--text-black);
}
.header__nav {
  display: none;
}
.header_list-nav {
  display: none;
}
.header__list-nav1 {
  display: none;
}
.header::after {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .btn-mobile-menu {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__link {
    text-decoration: none;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: var(--text-black);
    line-height: 1.19;
    text-decoration-line: none;
  }
  .header__list-nav {
    display: flex;
    align-items: center;
  }
  .header__list-nav[href="index.html"] {
    margin-right: 46px;
  }
  .header__nav {
    display: flex;
    align-items: center;
  }
  .header__nav--a {
    display: flex;
  }
  .header__list-menu {
    display: flex;
  }
  .header__list-menu1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
  }
  .header__list-menu1:focus {
    color: var(--blue);
    transition: var(--transition);
  }
  .header__list-menu1:hover {
    color: var(--blue);
    transition: var(--transition);
  }
  .header__list-menu1:not(:last-child) {
    margin-bottom: 10px;
  }
  .header__list-nav--a {
    text-decoration: none;
    display: inline-flex;
    padding: 0;
  }
  .header__list-nav1 {
    flex-direction: column;
    align-content: center;
    list-style-type: none;
    margin-left: auto;
    margin-right: -40px;
    display: block;
    align-items: center;
  }
  .header__list-nav1--a {
    text-decoration: none;
    color: var(--text-grey);
    margin-left: 50px;
    display: flex;
  }
  .header__list-nav1--a:hover {
    color: var(--blue);
    transition: var(--transition);
  }
  .header__list-nav1--a:focus {
    color: var(--blue);
    transition: var(--transition);
  }
  .header__link {
    color: var(--text-black);
    cursor: pointer;
    text-decoration-line: none;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
  }
  .header__link:focus {
    color: var(--blue);
    transition: var(--transition);
  }
  .header__link:hover {
    color: var(--blue);
    transition: var(--transition);
  }
  .header__list-nav a[href="index.html"] {
    margin-left: 94px;
  }
  .header__list-nav .active {
    position: relative;
    color: var(--blue);
    top: 0;
    left: 0;
  }
  .header__tel, .header__mail {
    color: var(--text-grey);
    margin-left: 10px;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-grey);
  }
  .header__tel:focus, .header__mail:focus {
    fill: var(--blue);
    color: var(--blue);
    cursor: pointer;
    transition: var(--transition);
  }
  .header__tel:hover, .header__mail:hover {
    fill: var(--blue);
    color: var(--blue);
    cursor: pointer;
    transition: var(--transition);
  }
  .header__ic {
    cursor: pointer;
    text-decoration: none;
    color: var(--text-grey);
    display: flex;
    padding: 20px 0;
    fill: var(--text-grey);
    transition-property: fill, background-color;
    transition: var(--transition);
  }
  .header__ics {
    margin-right: 10px;
    fill: var(--text-grey);
    transition-property: fill, background-color;
    transition: var(--transition);
  }
  .header__ics:hover {
    fill: var(--blue);
    transition: var(--transition);
  }
  .header__ics:focus {
    fill: var(--blue);
    transition: var(--transition);
  }
  .header__tel {
    margin-left: 15px;
    padding-right: 12px;
  }
  .header__tel:hover > .header__ics {
    fill: var(--blue);
    transition: var(--transition);
  }
  .header__mail {
    margin-left: 15px;
    padding-right: 50px;
  }
  .header__mail:hover > .header__ics {
    fill: var(--blue);
    transition: var(--transition);
  }
  .header__list-menu:not(:last-child) {
    margin-right: 46px;
  }
  .header .container {
    display: flex;
    align-items: center;
  }
  .active::after {
    content: "";
    display: block;
    position: absolute;
    border-top: 4px solid var(--blue);
    border-bottom: 0cm;
    border-radius: 2px;
    width: 100%;
    bottom: -31px;
    left: 0;
    background-color: var(--blue);
  }
  .header__mail .header__ics {
    width: 16px;
    height: 12px;
  }
  .header__tel .header__ics {
    width: 10px;
    height: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .header__link {
    text-decoration: none;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: var(--text-black);
    line-height: 1.19;
    text-decoration-line: none;
  }
  .header__nav {
    display: flex;
    align-items: center;
  }
  .header__nav--a {
    display: flex;
  }
  .header__list-menu {
    display: flex;
  }
  .header__list-menu1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
  }
  .header__list-menu1:focus {
    color: var(--blue);
    transition: var(--transition);
  }
  .header__list-menu1:hover {
    color: var(--blue);
    transition: var(--transition);
  }
  .header__list-nav {
    display: flex;
    align-items: center;
  }
  .header__list-nav[href="index.html"] {
    margin-right: 46px;
  }
  .header__list-nav--a {
    text-decoration: none;
    display: flex;
  }
  .header__list-nav1 {
    flex-direction: row;
    display: flex;
    margin-right: 12px;
  }
  .header__list-nav1--a {
    text-decoration: none;
    color: var(--text-grey);
    margin-left: 50px;
    display: flex;
  }
  .header__list-nav1--a:hover {
    color: var(--blue);
    transition: var(--transition);
  }
  .header__list-nav1--a:focus {
    color: var(--blue);
    transition: var(--transition);
  }
  .header__link {
    color: var(--text-black);
    cursor: pointer;
    text-decoration-line: none;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
  }
  .header__link:focus {
    color: var(--blue);
    transition: var(--transition);
  }
  .header__link:hover {
    color: var(--blue);
    transition: var(--transition);
  }
  .header__list-nav a[href="index.html"] {
    margin-left: 94px;
  }
  .header__list-nav .active {
    position: relative;
    color: var(--blue);
    top: 0;
    left: 0;
  }
  .header__tel, .header__mail {
    color: var(--text-grey);
    margin-left: 10px;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-grey);
  }
  .header__tel:focus, .header__mail:focus {
    fill: var(--blue);
    color: var(--blue);
    cursor: pointer;
    transition: var(--transition);
  }
  .header__tel:hover, .header__mail:hover {
    fill: var(--blue);
    color: var(--blue);
    cursor: pointer;
    transition: var(--transition);
  }
  .header__ic {
    cursor: pointer;
    text-decoration: none;
    color: var(--text-grey);
    display: flex;
    padding: 20px 0;
    fill: var(--text-grey);
    transition-property: fill, background-color;
    transition: var(--transition);
  }
  .header__ics {
    margin-right: 10px;
    fill: var(--text-grey);
    transition-property: fill, background-color;
    transition: var(--transition);
  }
  .header__ics:hover {
    fill: var(--blue);
    transition: var(--transition);
  }
  .header__ics:focus {
    fill: var(--blue);
    transition: var(--transition);
  }
  .header__tel {
    margin-left: 15px;
    padding-right: 12px;
  }
  .header__tel:hover > .header__ics {
    fill: var(--blue);
    transition: var(--transition);
  }
  .header__mail {
    margin-left: 15px;
    padding-right: 50px;
  }
  .header__mail:hover > .header__ics {
    fill: var(--blue);
    transition: var(--transition);
  }
  .header__list-menu:not(:last-child) {
    margin-right: 46px;
  }
  .header .container {
    display: flex;
    align-items: center;
  }
  .active::after {
    content: "";
    display: block;
    position: absolute;
    border-top: 4px solid var(--blue);
    border-bottom: 0cm;
    border-radius: 2px;
    width: 100%;
    bottom: -31px;
    left: 0;
    background-color: var(--blue);
  }
  .header__mail .header__ics {
    width: 16px;
    height: 12px;
  }
  .header__tel .header__ics {
    width: 10px;
    height: 16px;
  }
}
.port2__ul {
  display: grid;
  grid-template-columns: auto;
  list-style-type: none;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 30px 30px;
  letter-spacing: 0.03em;
}
.port2__li {
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid var(--white);
  background: var(--white);
  border: 0px;
  cursor: pointer;
}
.port2__li > img {
  object-fit: cover;
}
.port2__li:hover .port2__div--img {
  transform: translateY(0);
  transition: var(--transition);
}
.port2__li:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: var(--transition);
}
.port2__div {
  position: relative;
  overflow: hidden;
}
.port2__div--img {
  position: absolute;
  display: inline-block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: var(--transition);
  transition-property: transform;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.port2__div--p {
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  padding-top: 55px;
  padding-left: 24px;
  padding-right: 24px;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.port2__figcaption {
  padding: 20px 24px;
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-top: transparent;
}
.port2__figcaption--h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-bottom: 4px;
}
.port2__figcaption--p {
  color: var(--text-grey);
  height: 30px;
  font-size: 16px;
  line-height: 1.875;
}
.port2__figure {
  position: relative;
  width: 370px;
  overflow: hidden;
  align-items: center;
  background-color: #fff;
  justify-content: space-between;
  border-radius: 0px;
}
.port2__figure:focus {
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14);
  animation: cursorMoveOut 0.8s forwards;
  transition: var(--transition);
}
.port2__figure:hover {
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14);
  animation: cursorMoveOut 0.8s forwards;
  transition: var(--transition);
}

@media screen and (min-width: 768px) {
  .port2__ul {
    grid-template-columns: auto auto;
  }
}
@media screen and (min-width: 1200px) {
  .port2__ul {
    display: flex;
    grid-template-columns: auto auto auto;
  }
  .port2__li {
    display: flex;
  }
}
.sec3 {
  padding-top: 10px;
  padding-bottom: 94px;
  display: none;
}

@media screen and (min-width: 1200px) {
  .sec3 {
    display: block;
  }
  .sec3__list-images {
    display: flex;
    font-size: 14px;
    line-height: 1.14;
    padding-left: 0;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .sec3__figure {
    width: 370px;
    position: relative;
  }
  .sec3__under-photo {
    display: flex;
    position: absolute;
    height: 70px;
    bottom: 0;
    left: 0;
    padding: 27px 0px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.8);
  }
  .sec3__h2 {
    background-color: var(--white);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 50px;
  }
}
.btn-mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  margin-left: auto;
  background-color: transparent;
  width: 40px;
  height: 40px;
  cursor: pointer;
  color: #212121;
}
.btn-mobile-menu:hover, .btn-mobile-menu:active, .btn-mobile-menu:focus {
  color: var(--blue);
  transition: var(--transition);
}
.btn-mobile-menu__icon {
  width: 24px;
  height: 16px;
  fill: currentColor;
}

.mob-menu {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  top: 0;
  right: 0;
  padding: 15px 10px 48px 40px;
  z-index: 999;
}
.mob-menu__icon {
  display: block;
  color: var(--black);
}
.mob-menu__icon:focus, .mob-menu__icon:hover {
  color: var(--blue);
}
.mob-menu__icon__nav {
  display: block;
  font-size: large;
}
.mob-menu__icon_list-nav {
  display: block;
  font-size: large;
}
.mob-menu__icon__list-nav1 {
  display: none;
  font-size: large;
}
.mob-menu__icon__media {
  display: block;
  font-size: large;
}
.mob-menu__icon__list-menu1 {
  display: block;
  align-items: center;
  justify-content: center;
}
.mob-menu__icon__list-menu1:focus {
  color: var(--blue);
  transition: var(--transition);
}
.mob-menu__icon__list-menu1:hover {
  color: var(--blue);
  transition: var(--transition);
}
.mob-menu__icon__list-nav--a {
  text-decoration: none;
  display: flex;
}
.mob-menu__icon__list-nav1 {
  list-style-type: none;
  margin-left: auto;
  margin-right: -10px;
  display: block;
  align-items: center;
}
.mob-menu__icon__list-nav1--a {
  text-decoration: none;
  color: var(--text-grey);
  display: block;
}
.mob-menu__icon__list-nav1--a:hover {
  color: var(--blue);
  transition: var(--transition);
}
.mob-menu__icon__list-nav1--a:focus {
  color: var(--blue);
  transition: var(--transition);
}

.menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: #212121;
  border: none;
  margin-left: auto;
  cursor: pointer;
}
.menu-close:hover, .menu-close:focus {
  fill: var(--blue);
  color: var(--blue);
}
.menu-close__icon {
  color: var(--black);
  transition: var(--transition);
}
.menu-close__icon:focus, .menu-close__icon:hover {
  color: var(--blue);
  transition: var(--transition);
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
  .mob-menu__icon {
    display: none;
  }
  .mob-menu__nav {
    display: none;
  }
  .mob-menu_list-nav {
    display: none;
  }
  .mob-menu__list-nav1 {
    display: none;
  }
  .mob-menu__media {
    display: none;
  }
  .menu-close {
    display: none;
  }
  .menu-close__icon {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .mob-menu {
    display: none;
  }
  .mob-menu__icon {
    display: none;
  }
  .mob-menu__nav {
    display: none;
  }
  .mob-menu_list-nav {
    display: none;
  }
  .mob-menu__list-nav1 {
    display: none;
  }
  .mob-menu__media {
    display: none;
  }
  .menu-close {
    display: none;
  }
  .menu-close__icon {
    display: none;
  }
}
.section {
  margin-top: 10px;
}
.section__port1 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.section__port2 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.ic {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 120px;
  padding: 25px 0;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--grey);
  fill: #afb1b8;
  transition-property: fill, background-color;
  transition: var(--transition);
  display: block;
}

.ics {
  align-items: center;
  width: 70px;
  height: 70px;
  width: 450px;
}

.sec2 {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.14;
  justify-content: space-between;
  background-color: var(--white);
  gap: 30px;
  padding-top: 60px;
  padding-bottom: 60px;
  letter-spacing: 0.03em;
  align-items: center;
  display: block;
}
@media screen and (min-width: 1200px) {
  .sec2 {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 479px) {
  .sec2 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.sec4 {
  background-color: var(--grey);
  font-size: 16px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.sec5 {
  margin-top: 30px;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .sec2 {
    display: inline-block;
  }
  .ic {
    display: inline-block;
    width: 350px;
  }
  .section__port1 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section__port2 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .ic {
    display: flex;
    width: 100%;
  }
  .sec2 {
    display: flex;
  }
  .sec3 {
    display: flex;
    background-color: var(--white);
    font-size: 14px;
    line-height: 1.14;
    justify-content: space-between;
  }
  .sec4 {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .sec5 {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .section__port1 {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .section__port2 {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.sec2__lorem {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 30px;
}
.sec2__lorem--title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.14;
  text-transform: uppercase;
  display: block;
  text-align: left;
  list-style: none;
}
.sec2__lorem--text {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-grey);
  letter-spacing: 0.03em;
  text-align: justify;
}

@media screen and (max-width: 767px) {
  .sec2__lorem {
    flex-basis: 50%;
    margin-top: false 30px;
  }
  .sec2__lorem--li {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .sec2__lorem {
    display: inline-block;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: -15px;
    margin-right: -15px;
  }
  .sec2__lorem--li {
    width: 350px;
  }
  .sec2__lorem--title {
    text-align: center;
  }
  .sec2__lorem--text {
    display: inline-block;
  }
}
@media screen and (min-width: 1200px) {
  .sec2,
.sec2__lorem {
    padding-bottom: 0;
  }
  .sec2__lorem {
    background-color: var(--white);
    display: flex;
    gap: 30px;
    letter-spacing: 0.03em;
    align-items: center;
    font-size: 14px;
    line-height: 1.14;
    justify-content: space-between;
  }
  .sec2__lorem--li {
    width: 270px;
  }
  .sec2__lorem--title {
    display: flex;
  }
  .sec2__lorem--text {
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */