.about{
    background-color: var(--white);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.6;
    text-align: center;
    padding-bottom: 50px;
    font-weight: 700;
  }
.we{
  text-align: center;
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.6;
}