*{
    margin: 0px;
    padding: 0px;
    border: 0;
      line-height: 1.4em;
      vertical-align: baseline;
      text-decoration: none;
      outline: 0;
  }
  *, 
  ::after, 
  ::before {
    box-sizing: border-box;
  }
ul, 
ol {
  list-style-type: none;
}
body {
    display: block;
    color: $black;
    font-family: "Roboto", "Raleway", sans-serif;
  }
  
  html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
  }
figcaption{
    padding-top: 20px;
    padding-bottom: 20px;
  }
img {
    min-width: 40%;
    block-size: auto;
  }

  @media screen and(min-width: 768px) {
    img {
        min-width: 64%;;
        block-size:  auto;
    }
}
  @media screen and(min-width: 1200px) {
    img {
        min-width: 100%;
        block-size:  auto;
    }
}
input{
    line-height: 1.15;
    margin: 0;
  }
 
