*{
    margin: 0px;
    padding: 0px;
    border: 0;
      line-height: 1.4em;
      vertical-align: baseline;
      text-decoration: none;
      outline: 0;
  }
  *, 
  ::after, 
  ::before {
    box-sizing: border-box;
  }
ul, 
ol {
  list-style-type: none;
}
body {
    display: block;
    color: #212121;
    font-family: "Roboto", "Raleway", sans-serif;
  }
  
  html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
  }
figcaption{
    padding-top: 20px;
    padding-bottom: 20px;
  }
img {
    display: block;
  }
input{
    line-height: 1.15;
    margin: 0;
  }
  .Web,
  .stat{
    font-family: "Raleway", "sans-serif";
    font-weight: 700;
    font-size: 26px;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
  .Web{
   color: #2196f3;
  }
  .stat{
    color: #212121;
  }
