*{
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4em;
  vertical-align: baseline;
  text-decoration: none;
  outline: 0;
}

*, 
::after, 
::before {
  box-sizing: border-box;
}

ul, 
ol {
  list-style-type: none;
}

body {
  background-color:var(--white);
  display: block;
  color: #212121;
  font-family: "Roboto", "Raleway", sans-serif;
  margin: 0 auto;
}
  
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

figcaption{
  padding-top: 20px;
  padding-bottom: 20px;
}

img {
  display: block;
}

input{
  line-height: 1.15;
  margin: 0;
  font-size: 100%;
  font-family: inherit;
}

footer {
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 60px;  
}  

  @media screen and(min-width: 768px) {
    img {
        min-width: 64%;;
        block-size:  auto;
    }
}
  @media screen and(min-width: 1200px) {
    img {
        min-width: 100%;
        block-size:  auto;
    }
}
