.sec1{
    background-color: rgba(47, 48, 58, 1);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url("../images/bgImgMob1x.png");
    background-size: cover;
    background-position: center top;
    background-size: 480px 796px;
    padding-top: 100px;
    padding-bottom: 0px;
  
    &__but{
      display: inline-block;
      min-width: 150px;
      margin-bottom: 60px;
      color: var(--white);
      background: var(--blue);
      border-radius: 4px;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.875;
      border: 1px solid transparent;
      text-align: center;
      letter-spacing: 0.06em;
      padding: 10px 40px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      cursor: pointer;
      align-items: center;
      visibility: visible;
  
      &:hover{
        border-radius: 4px;
        transition: var(--transition);
        background-color: var(--grey);
        color: #212121;
        box-shadow: 0px 4px 4px rgba(123, 123, 123, 0.15);
      }
    
      &:focus{
        border-radius: 4px;
        transition: var(--transition);
        background-color: var(--grey);
        color: #212121;
        box-shadow: 0px 4px 4px rgba(123, 123, 123, 0.15);
      }
    }
  
    &__title{
      padding: 0;
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto;
      color: white;
      align-items: center;
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 900px;
      font-style: normal;
      font-weight: bold;
      padding-top: 118px;
      padding-bottom: 30px;
      line-height: 1.167;
      letter-spacing: 0.06em;
      margin: 0 auto;
      max-width: 250px;
    }
  
    &__main-container{
      width: 480px;
      color: #fff;
      font-weight: 900;
      font-size: 44px;
      text-transform: uppercase;
      line-height: 1.4;
      text-align: center;
      max-width: 700px;
      letter-spacing: 0.06em;
      justify-content: space-between;
    }
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
        .sec1 {
          background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url("../images/bgImgMob2x.png");
        }
      }
}
@media screen and (min-width: 768px){
  .sec1{
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url("../images/bgImgTab1x.png");
    background-size: 768px 400px;
    background-repeat: no-repeat;
    background-position: center top;
    height: 400px;
    &__title{
      max-width: 350px;
      font-size: 24px;
      padding-top: 118px;
      padding-bottom: 40px;
    }
    &__main-container{
      width: 768px;
    }
  }
 
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx){
      .sec1 {
        display: flex;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url("../images/bgImgTab2x.png");
      }
    }
} 

@media screen and (min-width: 1200px){
    .sec1{
      background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url("../images/bgImgDsc1x.png");
      background-size: 1600px 600px;
      background-repeat: no-repeat;
      background-position: center top;
      height: 600px;
      max-width: 1600px;
      flex-grow: 1;
      &__title{
        max-width: 700px;
        font-size: 48px;
        line-height: 1.36;
        margin-left: auto;
        margin-right: auto;
      } 
      &__main-container{
        width: 1200px;
      }
    }
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx){
        .sec1 {
          background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url("../images/bgImgDsc2x.png");
        }   
      }
} 

