.sec5__list-clients{
    font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      letter-spacing: 0.03em;
      margin: 0px;
      margin-bottom: 50px;
  }
  .sec5__list-ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 20px;
  }
