.sec5-clients{
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: var(--text-black);
  letter-spacing: 0.03em;
  margin-bottom: 30px;

  &__list{
    list-style: none;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}
  .sec5__ul--a{

    border-radius: 4px;
    border: 1px solid #AFB1B8;
    fill:  #AFB1B8;
    box-sizing: border-box;
    justify-content: center;
    background-color: var(--white);
    align-items: center;
    padding: 16px 32px;
  
    &:focus{
      border: 1px solid var(--blue);
      fill: var(--blue);
      color: var(--blue);
      transition: var(--transition);
    }
  
    &:hover{
      border: 1px solid var(--blue);
      fill: var(--blue);
      color: var(--blue);
      transition: var(--transition); 
    }
  }

.sec5__li{

    height: 90px;
    transition: var(--transition);
    width: 210px;

    &:focus,
    &:hover {
      color: var(--blue);
      border-color: var(--blue);
    }

    &--svg{
      fill: var(--white);
      width: 106px;
      height: 60px;
    }
  }


@media screen and(min-width: 768px) {
  .sec5-clients{
   
    &__list{
      display: inline-block;
    }
  }

  .sec5__li{
    width: 226px;
  }

  .sec5__ul--a{
    width: 226px;
    display: inline-block;
  }  
}

@media screen and(min-width: 1200px) {
  .sec5-clients{
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;

    &__list{
      display: flex;
    }
  }

  .sec5__li{
    width: 170px;
  }

  .sec5__ul--a{
    width: 170px;
    display: flex;
  }  
}
