.container{
  max-width: 100%;
  padding: 0 10px;
}
@media screen and(min-width: 480px) {
  .container {
    max-width: 480px;
    padding: 0 31px;
    margin: 0 auto;
  }
}

@media screen and(min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 39px;
  }
}

@media screen and(min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 15px;
    }  
} 

/*.container{
    width: 480px;
    margin: 0 auto;
    transition-property: background-color;
    transition-duration: 250ms;
    padding-left: 15px;
    padding-right: 15px;
    &--header-mobile {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  @media screen and(min-width: 768px) {
    .container {
      &--footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    }
}
  @media screen and(min-width: 1200px) {
    .container {
      &--flex {
        display: flex;
        flex-direction: row;
        align-items: center;
    }       
     &--footer {
        flex-wrap: nowrap;
        justify-content: flex-start;
     }
    }
}*/