.container{
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  transition-property: background-color;
  transition-duration: 250ms;
  max-width: 480px;
  &--header-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    @media screen and (max-width: 767px) {
      max-width: 767px;
    }
  }
}

@media screen and(min-width: 480px) {
  .container {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media screen and(min-width: 768px) {
  .container {
    max-width: none;
    padding: 0 39px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .mob-menu{
    display: none;
    &__icon{
      display: none;
    }
  }
}

@media screen and(min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin-inline: auto;
    width: 1200px;
    padding: 15px 15px;
    } 
  
  .mob-menu{
    display: none;
    &__icon{
      display: none;
    }
  }
} 
