.backdrop{
    opacity: 100%;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.2);
    animation-name: scaling;
    animation-duration: 2000ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-direction: normal;
    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
  }
  .modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    padding: 40px;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 4px;
    opacity: 100%;

  &__button{
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--white);
    border-radius:50%;
    border: 1px solid rgba(0, 0, 0, 1);
    opacity: 100%;
    z-index: 1000;
    
    &:hover{
      color: var(--blue);
      border-color: var(--blue);
      cursor: pointer;
      transition: var(--transition); 
    }

    &:focus{
      color: var(--blue);
      border-color: var(--blue);
	    cursor: pointer;
      transition: var(--transition);
    }
  }
  }
  .is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
.form{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;

  &__h2{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black);
    margin-bottom: 12px;
  }

  &__div{
    display:flex;
    flex-direction: column;
    align-items: center;
    outline: none;
  }

  &__label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--text-grey);
    margin-block: 4px 10px;
        
    &:focus-within > svg{
      color: var(--blue);
      fill: var(--blue);
      transition: var(--transition);
    }
  
    &:first-of-type{
      margin-top: 0;
    }
    &--svg{
      position: absolute;
      display: flex;
      width: 15px;
      height: 12px;
      margin-top: 18px;
      margin-left: 12px;
      fill:var(--text-black);
    }

    &--input{
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      width: 448px;
      height: 40px;
      margin-top: 4px;
      text-indent: 42px;
      color: var(--text-grey);
      font-size: 12px;
      display: block;
      background-repeat: no-repeat;
      background-position: left 15px center;
      transition: background-image var(--transition);
      
      &:focus + svg{
        fill: var(--blue);  
      }

      &:focus{
        border: 1px solid var(--blue);
        border-radius: 4px;
        outline: none;
        transition: var(--transition);
      }

      &:hover{
        border: 1px solid var(--blue);
        border-radius: 4px;
        outline: none;
        transition: var(--transition);
      }
    }

    &--textarea{
      width: 448px;
      height: 120px;
      font-size: 12px;
      padding: 12px 16px;
      letter-spacing: 0.01em;
      color: var(--text-grey);
      opacity: 50%;
      margin-top: 4px;
      resize: none;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
    
      &:focus{
        border: 1px solid var(--blue);
        border-radius: 4px;
        outline: none;
        transition: var(--transition);
      }

      &:hover{
        border: 1px solid var(--blue);
        border-radius: 4px;
        outline: none;
        transition: var(--transition);
      }
    }
  }

  &__checkbox{
    display: flex;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
  }


  &__span{
    display: flex;
    align-items: center;
    margin-top: 1px;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-grey);
    margin-left: 8px;
    transition: var(--transition);
  
    &::before{
      display: inline-block;
      content: "";
      width: 16px;
      height: 15px;
      outline: 1px solid #212121;
      border-radius: 2px;
      margin-right: 9px;
      transition: var(--transition);
    }

    &--a{
      padding-left: 3px;
      padding-right: 3px;
      text-decoration:none;
      color: var(--blue);
      transition: var(--transition);
      transition-property: text-decoration, color;
      letter-spacing: 0.06em;
    
      &:hover{
        cursor: pointer;
        text-decoration:underline;
        color: var(--blue);
        transition: var(--transition);
      }
    }
  }

  &__checkbox--input:checked + &__span::before{
    background-color:var(--blue);
    outline: 1px solid var(--blue);
    border-radius: 2px;
    background-image: url(../images/check.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 8px;
  }

  &__button{
    background: var(--blue);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #fff;
    margin-top: 30px;
    border: 0px;
    cursor: pointer;
    
    &:hover{
      background-color: var(--grey);
      color: var(--text-black);
      transition: var(--transition);
    }

    &:focus{
      background-color: var(--grey);
      color: var(--text-black);
      transition: var(--transition);
    }

    &--span{
      padding: 10px 70px;
      letter-spacing: 0.06em;
      line-height: 1.88;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-weight: 700;
      font-size: 16px;
    }
  }
  }

  @media screen and (min-width: 768px) {
    .form{
      &__checkbox{
        font-size: 10px;
        line-height: 1.11;
      }
      &__span--a{
        top: 18px;
        left: 21px;
      }
    }
  }

  @media screen and (min-width: 1200px) {
    .form{
      &__checkbox{
        padding-left: 14px;
        font-size: 14px;
        line-height: 1.71;
      }
    }
  }
