.port2{
  &__ul{
    margin-left: 15px;
    margin-right: 15px;
    display: grid;
    list-style-type: none;
    flex-wrap: wrap;
    align-items: stretch;
    gap: 30px 30px;
    letter-spacing: 0.03em;
  }

  &__li{
    justify-content: space-between;
    box-sizing: border-box;
    border: 1px solid var(--white);
    background: var(--white);
    border: 0px;
    cursor: pointer;
  
    &> img{
      object-fit: cover;
    }

    &:hover .port2__div--img {
      transform: translateY(0);
      transition: var(--transition);
    }

    &:hover{
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      transition: var(--transition);  
    }
  }

  &__div{
    position: relative;
    overflow: hidden;

    &--img{
      position: absolute;
      display: inline-block;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(33, 150, 243, 0.9);
      transform: translateY(100%);
      transition: var(--transition);
      transition-property: transform;
      transition-timing-function: ease;
      transition-delay: 0s;
    }

    &--p{
      position: absolute;
      top: 0;
      left: 0;
      text-align: left;
      padding-top: 55px;
      padding-left: 24px;
      padding-right: 24px;
      font-family: "Roboto";
      font-size: 18px;
      line-height: 1.56;
      letter-spacing: 0.03em;
      color: #ffffff;
    }
  }

    &__figcaption{
    padding: 20px 24px;
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-top: transparent;

    &--h3{
      font-weight: 700;
      font-size: 18px;
      line-height: 2;
      letter-spacing: 0.06em;
      padding-bottom: 4px;
    }
  
    &--p{
      color: var(--text-grey);
      height: 30px;
      font-size: 16px;
      line-height: 1.875;
    }
  }  

  &__figure{
    position: relative;
    width: 370px;
    overflow: hidden;
    align-items: center;
    background-color: #fff;
    justify-content: space-between;
    border-radius: 0px;
  
    &:focus{
      cursor: pointer;
      box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%);
      animation: cursorMoveOut 0.8s forwards;
      transition: var(--transition);
    }

    &:hover{
      cursor: pointer;
      box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%);
      animation: cursorMoveOut 0.8s forwards;
      transition: var(--transition);
    }
  }  
}

@media screen and (min-width: 768px){
  .port2{
    &__ul{
        grid-template-columns: auto auto;
    }
  }
}

@media screen and (min-width: 1200px){
  .port2{
    &__ul{
      display: flex;
      grid-template-columns: auto auto auto;
    }
    &__li{
      display: flex;
    }
  }
} 
