.sec3__image{
    display: flex;
    padding-left: 0;
  }
  .sec3_under{
    font-size: 14px;
     line-height: 1.14;
    justify-content: space-between;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    height: 70px;
    padding-top: 24px;
    overflow: hidden;
    margin: auto;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 16.41px;
    letter-spacing: 0.03em;
    background: rgba(47, 48, 58, 0.8);
    opacity: 100%;
  }
  .sec4__imagination{
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 4px 4px;
    background-color: #fff;
    text-align: center;
  }
  .sec3__img{
    border-radius: 0px;
  } 
