.sec3{
    padding-top: 10px;
    padding-bottom: 94px;
    display:none;
  }
  
@media screen and (min-width: 1200px){

  .sec3{
    display: block;

    &__list-images{
      display: flex;
      font-size: 14px;
      line-height: 1.14;
      padding-left: 0;
      list-style-type: none;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }

    &__figure{
      width: 370px;
      position: relative;
    }

    &__under-photo{
      display: flex;
      position: absolute;
      justify-content: center;
      width: 370px;
      height: 70px;
      bottom: 0;
      left: 0;
      padding: 27px 0px;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.14;
      letter-spacing: 0.03em;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
      background: rgba(47, 48, 58, 0.8);
    }

    &__h2{
      background-color: var(--white);
      font-weight: 700;
      font-size: 36px;
      line-height: 1.6;
      text-align: center;
      margin-bottom: 50px;
    }
  }
}
