.header__web,
.header__stat{
  font-family: "Raleway", "sans-serif";
  font-weight: 700;
  font-size: 26px;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header__web,
.footer__web{
  color: var(--blue);
}

.header__stat{
  color: var(--text-black);
}
 
.footer__stat{
  color: var(--white);
}
