.is-open{
  transform: translateX(0);
  transition: var(--transition);
  opacity: 1;
  visibility: visible;
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    margin-left: auto;
    background-color: transparent;
    width: 40px;
    height: 40px;    
    cursor: pointer;
    color: #212121;
    
    &:hover,tra
    &:active,
    &:focus {
        color: var(--blue);
        transition: background-color 0.2s;
  
    }
  
    &__icon {
        width: 24px;
        height: 16px;
        fill: currentColor;
    }
}


.mobile-menu{
    display: block;
    width: 100vw;
    height: 150vh;
    position: fixed;
    background-color: #fff;
    top: 0;
    right: 0;
    padding: 15px 10px 48px 40px;
    z-index: 999;
    &__links{
      font-weight: 500;
      font-size: 40px;
      padding-top: 48px;
      line-height: 0.5;
      letter-spacing: 0.02em;
      padding-left: 40px;
      
    }
    &__agency{
      color: var(--black);
      padding-bottom: 36px;
      &.active,
      &:focus,
      &:hover{
        color: var(--blue);
        }
    }
    &__portfolio{
      color: var(--black);
      padding-bottom: 32px;
      &.active,
      &:focus,
      &:hover{
        color: var(--blue);
        }
    }
    &__contact{
      color: var(--black);
      &:focus,
      &:hover{
        color: var(--blue);
        }
    }
    &__phone{
      padding-top: 302px;
      padding-bottom: 32px;
    }
    &__tel{
      color: var(--blue);
      padding-left: 40px;
      font-weight: 500;
      font-size: 34px;
      line-height: 0.58;
      letter-spacing: 0.02em;
    }
    &__mail{
      padding-top: 32px;
      padding-bottom: 64px;
      padding-left: 40px;
      color: var(--text-grey);
      font-weight: 500;
      font-size: 24px;
      line-height: 0.83;
      letter-spacing: 0.02em;
    }
    &_emil{
      padding-top: 32px;
      padding-bottom: 64px;
    }
    &__social{
      padding-top: 64px; 
      &--first{
        padding-left: 40px;
      } 
      &--next{
        padding-left: 10px;
      }
    }
    &__media{
      color: var(--blue);
      padding-bottom: 48px;
      font-weight: 500;
      font-size: 18px;
      line-height: 1.11;
      letter-spacing: 0.02em;
    }
    &__separ{
      padding-left: 10px;
      color: var(--text-grey);
    }
}
.menu-close {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: var(--text-black);
    border: none;
    margin-left: auto;
    cursor: pointer;
  
    &:hover,
    &:focus {
      fill: var(--blue);
      color: var(--blue);
    }
    &__icon{
        color: var(--black);
        &:focus,
        &:hover{
            color: var(--blue);
            transition: background-color 0.2s;
        }

    }
  }
  
  @media screen and(min-width: 768px) {
    .mobile-menu{
      display: none;
       &__media{
        display: none;
      }

    }
    .menu-close{
        display: none;
        &__icon{
            display: none;
        }
    }
    .mobile-menu {
      display: none;
    }
    .menu-toggle{
      display: none;
    }
}
  
  @media screen and(min-width: 1200px) {
    .mobile-menu{
      display: none;

    &__media{
        display: none;
      }
    }
    .menu-close{
        display: none;
        &__icon{
            display: none;
        }
    }
    .menu-toggle{
      display: none;
    }
}   