.section {
 
  &__port1{
    padding-top: 94px;
    padding-bottom: 56px;
  }

  &__port2{
    padding-bottom: 50px;
  }
}


.ic{
  justify-content: center;
  align-items: center;
  height: 120px;
  padding: 25px 0;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--grey);
  fill: #afb1b8;
  transition-property: fill, background-color;
  transition: var(--transition);
  display: block;
}

.ics{
  width: 70px;
  height: 70px;
}

.sec2{
  font-size: 14px;
  line-height: 1.14;
  justify-content: space-between;
  background-color: var(--white);
  gap:30px;
  padding-bottom: 0;
  letter-spacing: 0.03em;
  align-items: center;
  display: block;
}


.sec4{
  background-color: var(--grey);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  padding-top: 0;
  justify-content: space-between;
}

@media screen and (min-width:768px){
  .sec2{
    display: inline-block;
  }
}

@media screen and (min-width: 1200px){
  .ic{
    display: flex;
  }
  .sec2{
    display: flex;
  }
  .sec3{
    display: flex;
    background-color: var(--white);
    font-size: 14px;
    line-height: 1.14;
    justify-content: space-between
  }
}



