.sec4__we {
  padding-top: 94px;
  background-color: #f5f4fa;
  text-align: center;
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.6;
}
.sec4__images2-li{
  display: flex;
  padding-left: 0;
  padding-bottom: 10px;
  justify-content: space-between;
}
.sec4__media{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 32px;
    margin-left: 32px;
    padding-top: 20px;
  }
.sec4__media-li{
    flex-wrap: wrap;
    gap: 10px;
  }
.sec4__media-svg{
    display: flex;
    fill:#ececec;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition-property: fill, background-color;
    transition: var(--transition);
  }
.sec4__media-link{
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #2f303a;
    align-items: center;
    justify-content: center;
    fill: var(--blue);
  &:hover,
  &:focus{
    background-color: var(--blue);
    fill: #ececec;
  }
}
.sec4__images2-imagination{
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  text-align: center;
}
.sec4__images2-fig{
  margin-bottom: 30px;
}

  