.sec5__ul--a{
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  fill:  #AFB1B8;
  box-sizing: border-box;
  justify-content: space-around;
  display: flex;
  align-items: center;

  &:hover{
    border: 1px solid var(--blue);
    fill: var(--blue);
    color: var(--blue);
    transition: var(--transition);
  }

  &:focus{
    border: 1px solid var(--blue);
    fill: var(--blue);
    color: var(--blue);
    transition: var(--transition);
  }

}
.sec5__clients{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--text-black);
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.sec5__list-clients{
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 20px;
}

