.sec2__lorem{
  display: block;
  font-size: 14px;
  line-height: 1.14;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 30px;
 

  &--title{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 1.14;
    text-transform: uppercase;
    display: block;
    text-align: left;
    list-style: none;
  }


  &--text{
    display: block;
    font-size: 14px;
    line-height: 1.71;
    color: var(--text-grey);
    letter-spacing: 0.03em;
    text-align: justify;
  }
}

@media screen and (max-width: 767px) {
  .sec2__lorem{
    flex-basis: calc(100% / 2);
    margin-top:  30px;
    &--li{
      width: 450px;
    }
  }
}
@media screen and (min-width: 768px){
  .sec2__lorem{
    display: inline-block;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: -15px;
    margin-right: -15px;
    &--li{
      width: 350px;
    }

    &--title{
      text-align: center;
    }
  
    &--text{
      display: inline-block;
    }
  }
}
@media screen and (min-width: 1200px) {
  .sec2,
.sec2__lorem{
  padding-bottom: 0;
  } 


.sec2__lorem{
  background-color: var(--white);
  display: flex;
  gap:30px;
  letter-spacing: 0.03em;
  align-items: center;
  font-size: 14px;
  line-height: 1.14;
  justify-content: space-between;
  
  &--li{
    width: 270px; 
    }
  
  &--title{
      display: flex;
    }

  &--text{
      text-align: center;
    }
  }
}
