.sec2__lorem{
  display: block;
  font-size: 14px;
  line-height: 1.14;
  flex-wrap: wrap;
  justify-content: center;
  &--title{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: block;
    text-align: left;
    list-style: none;
    padding-right: 30px;
    padding-top: 30px;
  }

  &--text{
    display: block;
    padding-top: 10px;
    font-size: 14px;
    line-height: 1.7;
    color: var(--text-grey);
    letter-spacing: 0.03em;
    text-align: justify;
  }
}

@media screen and (max-width: 767px) {
  .sec2__lorem{
    width: 450px;
    flex-basis: calc(100% / 2);
    margin-top: not(1n) 30px;
  }
}
@media screen and (min-width: 768px){
  .sec2__lorem{
  display: inline-block;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: -15px;
    margin-right: -15px;

    &--title{
      padding-right: 30px;
      padding-top: 30px;
    }
  
    &--text{
      display: inline-block;
    }
  }
}
@media screen and (min-width: 1200px) {
  .sec2,
.sec2__lorem{
  padding-bottom: 0;
  } 


.sec2__lorem{
  background-color: var(--white);
  display: flex;
  gap:30px;
  letter-spacing: 0.03em;
  align-items: center;
  font-size: 14px;
  line-height: 1.14;
  justify-content: space-between;

  &--title{
    display: flex;
  }

  &--text{
    text-align: justify;
  }
}
}
