.lorem{
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
.lorem__text{
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}
.lorem__text2{
  color: #757575;
}